@model Lcapas.Core.Library.SystemSettingsViewObj

@{
    ViewBag.Title = "System Preferences";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavaScript {
    <script src="@Url.Content("~/Scripts/bootstrap-toggle.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/lcapas-generic.js?<?=time()?>")" type="text/javascript"></script>
}
@section Styles {
    <link href="~/Content/Bootstrap/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Settings.css" rel="stylesheet" type="text/css" />
}
@section Menu {
    @RenderPage("~/Views/Menu/_SettingsMenu.cshtml")
}

@using (Html.BeginForm("SystemSettings", "Settings", FormMethod.Post, new { id = "submitForm" }))
{
    @Html.AntiForgeryToken()
    <h2>@ViewBag.Title</h2>

    <div class="form-horizontal">
        <div class="row">
            <input type="submit" value="Save" class="button create-item"> |
            <input type="button" value="Cancel" class="button order-item" onclick="location.href='@Url.Action("SystemSettings", "Settings")';">
        </div>

        <div id="form-container" class="form-group row">
            <div class="col-md-12">
                <div class="list-group">
                    @if (Model != null && Model.BooleanSettings.Any())
                    {
                        int groupCount = 0;
                        foreach (var group in Model.BooleanSettings.GroupBy(o => o.GroupName))
                        {
                            <a href="#list-item-@groupCount" class="list-group-item arrow" data-toggle="collapse">@group.Key</a>
                            <ul id="list-item-@groupCount" class="list-group collapse in" item-type="boolean">
                                @{ groupCount++; }

                                @for (int i = 0; i < Model.BooleanSettings.Count(); i++)
                                {
                                    if (Model.BooleanSettings[i].GroupName == group.Key)
                                    {
                                        <li id="@Model.BooleanSettings[i].BooleanValueId" class="list-group-item ui-state-default">
                                            <div class="pull-right" style="margin-right: -10px; margin-top: -3px;">
                                                @Html.CheckBoxFor(m => m.BooleanSettings[i].Value, new { data_toggle = "toggle", data_size = "mini", data_onstyle = "primary", data_offstyle = "danger" })
                                            </div>
                                            <span class="item-content" title="@Model.BooleanSettings[i].Description">@Model.BooleanSettings[i].Name</span>
                                            @Html.HiddenFor(m => m.BooleanSettings[i].BooleanValueId)
                                            @Html.HiddenFor(m => m.BooleanSettings[i].Name)
                                            @Html.HiddenFor(m => m.BooleanSettings[i].Description)
                                            @Html.HiddenFor(m => m.BooleanSettings[i].GroupName)
                                        </li>
                                    }
                                }
                            </ul>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}
