
<div id="dialog-form" title="Create Item">
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2" for="ItemCode">Amount:</label>
            <div class="col-md-10">
                @Html.Editor("ItemCode", new { htmlAttributes = new { @class = "form-control money" } })
                @Html.ValidationMessage("ItemCode", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="ItemDesc">Start Date:</label>
            <div class="col-md-10">
                @Html.Editor("ItemDesc", new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                @Html.ValidationMessage("ItemDesc", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="ItemMessage">Message:</label>
            <div class="col-md-10">
                @Html.TextArea("ItemMessage", new { @class = "form-control", @cols = "57", @rows = "6" })
                @Html.ValidationMessage("ItemMessage", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group active-option">
            <div class="pull-right col-md-2">
                @Html.CheckBox("Active", true, new { htmlAttributes = new { @class = "form-control" } })
                <label class="control-label" for="Active">Active</label>
                @Html.ValidationMessage("Active", "", new { @class = "text-danger" })
            </div>
        </div>
    </fieldset>
</div>
