@model Lcapas.Core.Library.CollTestingResultsReportViewObj

@section JavaScriptVariables {
<script type="text/javascript">
    var ExportReportPath = '@Url.Action("ExportReports", "Reports")';
    var PrintReportPath = '@Url.Action("PrintReports", "Reports")';
    var PrintQueryPath = '@Url.Action("PrintQuery", "Reports")';

</script>
}

@section JavaScript {
    <script src="@Url.Content("~/Scripts/lcapas-settings.js?<?=time()?>")" type="text/javascript"></script>
}

@section Styles {
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
}
@section Menu {
    @RenderPage("~/Views/Menu/_ReportsMenu.cshtml")
}
 
@Html.AntiForgeryToken()

    <div class="container">
        <h2>@Model.PageTitle</h2>
        <div class="paging">
            @if (Model.CollTestingResultsReportSearchFilter != null)
            {
                <div class="page-print">
                    <input id="excelTestingResultsReportBtn" type="button" value="Export to Excel" class="button" />
                </div>
                <div class="page-print">
                    <input id="prntTestingResultsReportBtn" type="button" value="Print Reports" class="btn btn-default button pull-right hor-pad" />
                </div>
                <div class="page-print">
                    <input id="prntTestingResultsQueryReportBtn" type="button" value="Query Reports" class="btn btn-default button pull-right hor-pad" />
                </div>
                <div class="page-last">
                    @if (Model.Pagination.PageIndex < Model.Pagination.PageCount)
                    {
                        <input id="lastPage" type="image" title="Last Page" value="" src="~/Content/images/last.png" class="button" />
                    }
                </div>
                <div class="page-next">
                    @if (Model.Pagination.PageIndex < Model.Pagination.PageCount)
                    {
                        <input id="nextPage" type="image" title="Next Page" value="" src="~/Content/images/next.png" class="button" />
                    }
                </div>
                <div class="page-num">
                    @Html.LabelFor(m => m.Pagination.PageIndex, new { @class = "control-label" }) @Html.DisplayFor(m => m.Pagination.PageIndex, new { @class = "text ui-widget-content ui-corner-all" }) of @Html.DisplayFor(m => m.Pagination.PageCount, new { @class = "text ui-widget-content ui-corner-all" })
                </div>
                <div class="page-prev">
                    @if (Model.Pagination.PageIndex > 1)
                    {
                        <input id="prevPage" type="image" title="Previous Page" value="" src="~/Content/images/prev.png" class="button" />
                    }
                </div>
                <div class="page-first">
                    @if (Model.Pagination.PageIndex > 1)
                    {
                        <input id="firstPage" type="image" title="First Page" value="" src="~/Content/images/first.png" class="button" />
                    }
                </div>
                <div class="page-size">
                    @Html.LabelFor(m => m.Pagination.PageSizes, new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.Pagination.PageSize, Model.Pagination.PageSizes, string.Empty, new { @id = "pSize", @class = "text ui-widget-content ui-corner-all" })
                </div>
                <div class="page-results">
                    @Html.LabelFor(m => m.Pagination.RecCount, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.Pagination.RecCount, new { @class = "text ui-widget-content ui-corner-all" })
                </div>
            }
        </div>
        <br />
        <div id="table-container">
            @using (Html.BeginForm("CollTestingResultsReport", "Reports", FormMethod.Post, new { DefaultButton = "search-btn", id = "submitForm" }))
            {
                <table id="data-tbl" class="TFtable display">
                    <thead class="tableHeader">
                        <tr class="tableHeader">
                            <th></th>
                            <th class="col-xw-120">
                                @Html.LabelFor(m => m.CollTestingResultsReportSearchFilter.PERSON_ID, new { @class = "control-label col-xw-120" })
                            </th>
                            <th class="col-xw-80">
                                @Html.LabelFor(m => m.CollTestingResultsReportSearchFilter.LAST_NAME, new { @class = "control-label col-xw-80" })
                            </th>
                            <th class="col-xw-80">
                                @Html.LabelFor(m => m.CollTestingResultsReportSearchFilter.FIRST_NAME, new { @class = "control-label col-xw-80" })
                            </th>
                            <th class="col-xw-80">
                                @Html.LabelFor(m => m.CollTestingResultsReportSearchFilter.MIDDLE_NAME, new { @class = "control-label col-xw-80" })
                            </th>
                            <th class="col-xw-150">
                                @Html.LabelFor(m => m.CollTestingResultsReportSearchFilter.STATUS_DATE, new { @class = "control-label col-xw-100" })
                            </th>
                            <th colspan="2" />
                        </tr>
                        <tr class="tableHeader hide-scroll">
                            <th id="selectAll" title="Select All">
                                <input id="SelectAll" type="checkbox" class="text" checked>
                            </th>
                            <th title="PERSON ID" class="col-xw-120">
                                @Html.TextBoxFor(m => m.CollTestingResultsReportSearchFilter.PERSON_ID, new { @id = "PERSON_ID", @class = "text ui-widget-content ui-corner-all searchfield col-xw-120" })
                            </th>
                            <th title="LAST NAME" class="col-xw-80">
                                @Html.TextBoxFor(m => m.CollTestingResultsReportSearchFilter.LAST_NAME, new { @id = "LAST_NAME", @class = "searchfield col-xw-80" })

                            </th>
                            <th title="FIRST NAME" class="col-xw-80">
                                @Html.TextBoxFor(m => m.CollTestingResultsReportSearchFilter.FIRST_NAME, new { @id = "FIRST_NAME", @class = "searchfield col-xw-80" })

                            </th>
                            <th title="MIDDLE NAME" class="col-xw-80">
                                @Html.TextBoxFor(m => m.CollTestingResultsReportSearchFilter.MIDDLE_NAME, new { @id = "MIDDLE_NAME", @class = "searchfield col-xw-80" })

                            </th>
                            <th title="AdmitStatus" class="col-xw-150">
                                @Html.TextBoxFor(m => m.CollTestingResultsReportSearchFilter.STATUS_DATE, new { @id = "STATUS_DATE", @class = "text ui-widget-content ui-corner-all datepicker date-mask col-xw-80" })
                            </th>
                            <th title="Clear">
                                <input id="clear-btn" type="image" title="Clear" src="~/Content/images/eraser_small.png" class="submit-btn" onclick="location.href='@Url.Action("CollTestingResultsReport", "Reports")';return false;" />
                            </th>
                            <th title="Search">
                                <input id="search-btn" type="image" title="Search" src="~/Content/images/search.png" class="submit-btn" />
                                @Html.HiddenFor(m => m.Pagination.PageIndex, new { id = "hf-pIndex" })
                                @Html.HiddenFor(m => m.Pagination.PageSize, new { id = "hf-pSize" })
                                @Html.HiddenFor(m => m.Pagination.PageCount, new { id = "hf-pCount" })
                                @Html.HiddenFor(m => m.Pagination.RecCount, new { id = "totalRes" })
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.CollTestingResultsReportSearchResultsFilter.Count > 0)
                        {
                            foreach (var item in Model.CollTestingResultsReportSearchResultsFilter)
                            {
                                <tr class=" tableBody">
                                    <td>
                                        <input type="checkbox" name="@item.PERSON_ID;@item.STATUS_DATE.Value.ToString("yyyy/MM/dd")" checked>
                                    </td>
                                    <td class="col-xw-120">
                                        @item.PERSON_ID
                                    </td>
                                    <td class="col-xw-30">
                                        @item.LAST_NAME
                                    </td>
                                    <td class="col-xw-20">
                                        @item.FIRST_NAME
                                    </td>
                                    <td class="col-xw-20">
                                        @item.MIDDLE_NAME
                                    </td>
                                    <td class="col-xw-60">
                                        @item.STATUS_DATE.Value.ToString("yyyy/MM/dd")
                                    </td>
                                    <td colspan="2"></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="35" style="color:red;text-align:center;">
                                    <br />No records found.
                                    <br />Please enter search parameters and click 'Search'. <br />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
        <div id="bottom_anchor"></div>
        <br />
        </div>
