@model Lcapas.Core.Library.LoginHistoryReportViewObj

@section JavaScriptVariables {
<script type="text/javascript">
    var PrintReportPath = '@Url.Action("PrintReports", "Reports")';
</script>
}

@section JavaScript {
    <script src="@Url.Content("~/Scripts/lcapas-settings.js?<?=time()?>")" type="text/javascript"></script>
}

@section Styles {
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
}
@section Menu {
    @RenderPage("~/Views/Menu/_ReportsMenu.cshtml")
}

@Html.AntiForgeryToken()

    <div class="container">
        <h2>@Model.PageTitle</h2>
        <div class="paging">
            @if (Model.LoginHistoryReportSearchFilter != null)
            {
                <div class="page-print">
                    <input id="prntHistoryBtn" type="button" value="Print Report" onclick="return false" class="button pull-right" />
                </div>
                <div class="page-last">
                    @if (Model.Pagination.PageIndex < Model.Pagination.PageCount)
                    {
                        <input id="lastPage" type="image" title="Last Page" value="" src="~/Content/images/last.png" class="button" />
                    }
                </div>
                <div class="page-next">
                    @if (Model.Pagination.PageIndex < Model.Pagination.PageCount)
                    {
                        <input id="nextPage" type="image" title="Next Page" value="" src="~/Content/images/next.png" class="button" />
                    }
                </div>
                <div class="page-num">
                    @Html.LabelFor(m => m.Pagination.PageIndex, new { @class = "control-label" }) @Html.DisplayFor(m => m.Pagination.PageIndex, new { @class = "text ui-widget-content ui-corner-all" }) of @Html.DisplayFor(m => m.Pagination.PageCount, new { @class = "text ui-widget-content ui-corner-all" })
                </div>
                <div class="page-prev">
                    @if (Model.Pagination.PageIndex > 1)
                    {
                        <input id="prevPage" type="image" title="Previous Page" value="" src="~/Content/images/prev.png" class="button" />
                    }
                </div>
                <div class="page-first">
                    @if (Model.Pagination.PageIndex > 1)
                    {
                        <input id="firstPage" type="image" title="First Page" value="" src="~/Content/images/first.png" class="button" />
                    }
                </div>
                <div class="page-size">
                    @Html.LabelFor(m => m.Pagination.PageSizes, new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.Pagination.PageSize, Model.Pagination.PageSizes, string.Empty, new { @id = "pSize", @class = "text ui-widget-content ui-corner-all" })
                </div>
                <div class="page-results">
                    @Html.LabelFor(m => m.Pagination.RecCount, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.Pagination.RecCount, new { @class = "text ui-widget-content ui-corner-all" })
                </div>
            }
        </div>
        <br />
        <div id="table-container">
            @using (Html.BeginForm("LoginHistory", "Reports", FormMethod.Post, new { DefaultButton = "search-btn", id = "submitForm" }))
            {
                <table id="data-tbl" class="TFtable display">
                    <thead class="tableHeader">
                        <tr class="tableHeader">
                            <th></th>
                            <th class="col-xw-60">
                                @Html.LabelFor(m => m.LoginHistoryReportSearchFilter.ActionID, new { @class = "control-label" })
                            </th>
                            <th class="col-fw-100">
                                @Html.LabelFor(m => m.LoginHistoryReportSearchFilter.ActionDesc, new { @class = "control-label" })
                            </th>
                            <th class="col-fw-100">
                                @Html.LabelFor(m => m.LoginHistoryReportSearchFilter.UserFullName, new { @class = "control-label" })
                            </th>
                            <th class="col-xw-50">
                                @Html.LabelFor(m => m.LoginHistoryReportSearchFilter.UserID, new { @class = "control-label" })
                            </th>
                            <th class="col-xw-70">
                                @Html.LabelFor(m => m.LoginHistoryReportSearchFilter.CreatedBy, new { @class = "control-label" })
                            </th>
                            <th class="col-xw-120">
                                @Html.LabelFor(m => m.LoginHistoryReportSearchFilter.CreatedDate, new { @class = "control-label" })
                            </th>
                            <th class="col-xw-80">
                                @Html.LabelFor(m => m.LoginHistoryReportSearchFilter.ModifiedBy, new { @class = "control-label" })
                            </th>
                            <th class="col-xw-120">
                                @Html.LabelFor(m => m.LoginHistoryReportSearchFilter.ModifiedBydDate, new { @class = "control-label" })
                            </th>
                            <th colspan="2" />
                        </tr>
                        <tr class="tableHeader hide-scroll">
                            <th id="selectAll" title="Select All">
                                <input id="SelectAll" type="checkbox" class="text" checked>
                            </th>
                            <th title="Action ID" class="col-xw-60">
                                @Html.TextBoxFor(m => m.LoginHistoryReportSearchFilter.ActionID, new { @id = "ActionID", @class = "text ui-widget-content ui-corner-all searchfield col-xw-50" })
                            </th>
                            <th title="Action Description" class="col-fw-120">
                                @*@Html.TextBoxFor(m => m.LoginHistoryReportSearchFilter.ActionDesc, new { @class = "text ui-widget-content ui-corner-all searchfield" })*@
                                @Html.DropDownListFor(m => m.LoginHistoryReportSearchFilter.ActionDesc, Model.ActionDescList, "", new { @id = "ActionDesc", @class = "text ui-widget-content ui-corner-all searchfield col-xw-120" })

                            </th>
                            <th title="User Full Name" class="col-fw-50">
                                @Html.TextBoxFor(m => m.LoginHistoryReportSearchFilter.UserFullName, new { @id = "UserFullName", @class = "text ui-widget-content ui-corner-all searchfield" })
                            </th>
                            <th title="User ID" class="col-xw-50">
                                @Html.TextBoxFor(m => m.LoginHistoryReportSearchFilter.UserID, new { @id = "UserID", @class = "text ui-widget-content ui-corner-all searchfield col-xw-40" })
                            </th>
                            <th title="Created By" class="col-xw-70">
                                @Html.TextBoxFor(m => m.LoginHistoryReportSearchFilter.CreatedBy, new { @id = "CreatedBy", @class = "text ui-widget-content ui-corner-all searchfield col-xw-60" })
                            </th>
                            <th title="Created Date" class="col-xw-140">
                                @Html.TextBoxFor(m => m.LoginHistoryReportSearchFilter.CreatedDate, new { @id = "CreatedDate", @class = "text ui-widget-content ui-corner-all datepicker date-mask searchfield col-md-7" })
                            </th>
                            <th title="Modified By" class="col-xw-80">
                                @Html.TextBoxFor(m => m.LoginHistoryReportSearchFilter.ModifiedBy, new { @id = "ModifiedBy", @class = "text ui-widget-content ui-corner-all searchfield col-xw-60" })
                            </th>
                            <th title="Modified By Date" class="col-xw-140">
                                @Html.TextBoxFor(m => m.LoginHistoryReportSearchFilter.ModifiedBydDate, new { @id = "ModifiedBydDate", @class = "text ui-widget-content ui-corner-all datepicker date-mask searchfield col-md-7" })
                            </th>
                            <th title="Clear">
                                <input id="clear-btn" type="image" title="Clear" src="~/Content/images/eraser_small.png" class="submit-btn" onclick="location.href='@Url.Action("LoginHistory", "Reports")';return false;" />
                            </th>
                            <th title="Search">
                                <input id="search-btn" type="image" title="Search" src="~/Content/images/search.png" class="submit-btn" />
                                @Html.HiddenFor(m => m.Pagination.PageIndex, new { id = "hf-pIndex" })
                                @Html.HiddenFor(m => m.Pagination.PageSize, new { id = "hf-pSize" })
                                @Html.HiddenFor(m => m.Pagination.PageCount, new { id = "hf-pCount" })
                                @Html.HiddenFor(m => m.Pagination.RecCount, new { id = "totalRes" })

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.LoginHistoryReportSearchResultsFilter.Count > 0)
                        {
                            foreach (var item in Model.LoginHistoryReportSearchResultsFilter)
                            {
                                <tr class=" tableBody">
                                    <td>
                                        <input type="checkbox" name="@item.HistoryID" checked>
                                    </td>
                                    <td class="col-fw-20">
                                        @item.ActionID
                                    </td>
                                    <td class="col-fw-50">
                                        @item.ActionDesc
                                    </td>
                                    <td class="col-fw-50">
                                        @item.UserFullName
                                    </td>
                                    <td class="col-fw-30">
                                        @item.UserID
                                    </td>
                                    <td class="col-fw-50">
                                        @item.CreatedBy
                                    </td>
                                    <td class="col-fw-130">
                                        @item.CreatedDate  @*.Value.ToString("yyyy/MM/dd")*@
                                    </td>
                                    <td class="col-fw-20">
                                        @item.ModifiedBy
                                    </td>
                                    <td class="col-fw-130">
                                        @item.ModifiedBydDate  @*.Value.ToString("yyyy/MM/dd")*@
                                    </td>
                                    <td colspan="2"></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="20" style="color:red;text-align:center;">
                                    <br />No records found.
                                    <br />Please enter search parameters and click 'Search'. <br />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
        <div id="bottom_anchor"></div>
        <br />


        </div>
