
<div id="userdialog-form" title="Create Item">
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2" for="ItemsNumber">sNumber:</label>
            <div class="col-md-10">
                @Html.Editor("ItemsNumber", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("ItemsNumber", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="ItemFirstName">First Name:</label>
            <div class="col-md-10">
                @Html.Editor("ItemFirstName", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("ItemFirstName", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="ItemLastName">Last Name:</label>
            <div class="col-md-10">
                @Html.Editor("ItemLastName", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("ItemLastName", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group active-option">
            <div class="pull-right col-md-2">
                @Html.CheckBox("Active", true, new { htmlAttributes = new { @class = "form-control" } })
                <label class="control-label" for="Active">Active</label>
                @Html.ValidationMessage("Active", "", new { @class = "text-danger" })
            </div>
        </div>
    </fieldset>
</div>
