
<div class="navigation row">
    <div class="left-nav col-md-12">
        <ul>
            @*<li class="@Html.ActivePage("Index", "Applications")">@Html.LcActionLink("Applications", "Index", "Applications")</li>*@
            <li class="@Html.ActivePage("Index", "Settings")">@Html.LcActionLink("Settings Home", "Index", "Settings")</li>
            <li class="@Html.ActivePage("Index", "ApplicationSettings")">@Html.LcActionLink("Application Settings", "Index", "ApplicationSettings")</li>
            <li class="@Html.ActivePage("ProgramDetail", "ApplicationSettings")">@Html.LcActionLink("Relationships", "ProgramDetail", "ApplicationSettings")</li>
            <li class="@Html.ActivePage("Program", "ApplicationSettings")">@Html.LcActionLink("Programs", "Program", "ApplicationSettings")</li>
            <li class="@Html.ActivePage("Campus", "ApplicationSettings")">@Html.LcActionLink("Campuses", "Campus", "ApplicationSettings")</li>
            <li class="@Html.ActivePage("Term", "ApplicationSettings")">@Html.LcActionLink("Terms", "Term", "ApplicationSettings")</li>
            <li class="@Html.ActivePage("ReferenceType", "ApplicationSettings")">@Html.LcActionLink("References Types", "ReferenceType", "ApplicationSettings")</li>
            <li class="@Html.ActivePage("ApplicationFee", "ApplicationSettings")">@Html.LcActionLink("Application Fees", "ApplicationFee", "ApplicationSettings")</li>
            <li class="@Html.ActivePage("Parameters", "ApplicationSettings")">@Html.LcActionLink("Parameters", "Parameters", "ApplicationSettings")</li>
            <li class="@Html.ActivePage("CreateProgramTerm", "ApplicationSettings")">@Html.LcActionLink("Create Program Term", "CreateProgramTerm", "ApplicationSettings")</li>
            <li class="@Html.ActivePage("DeactivateProgramTerm", "ApplicationSettings")">@Html.LcActionLink("Deactivate Program Term", "DeactivateProgramTerm", "ApplicationSettings")</li>
        </ul>
    </div>
</div>