<div class="navigation row">
    <div class="left-nav col-md-12">
        <ul>
            <li class="@Html.ActivePage("Index", "Applications")">@Html.LcActionLink("Applications", "Index", "Applications")</li>
            <li class="@Html.ActivePage("Index", "Transcripts")">@Html.LcActionLink("Transcripts", "Index", "Transcripts")</li>
            @*<li>@Html.LcActionLink("U of L Datashare", "Index", "DataShare")</li>*@
            <li class="@Html.ActivePage("Index", "Settings")">@Html.LcActionLink("Settings", "Index", "Settings")</li>
            <li class="@Html.ActivePage("Index", "Reports")">@Html.LcActionLink("Reports", "Index", "Reports")</li>
            <li class="@Html.ActivePage("Index", "TransferCredits")">@Html.LcActionLink("Transfer Credits", "Index", "TransferCredits")</li>
            <li class="@Html.ActivePage("Index", "MyCreds")">@Html.LcActionLink("MyCreds", "Index", "MyCreds")</li>
        </ul>
    </div>
</div>