
<div class="navigation row">
    <div class="left-nav col-md-12">
        <ul>
            <li class="@Html.ActivePage("Index", "Settings")">@Html.LcActionLink("Settings Home", "Index", "Settings")</li>
            <li  class="@Html.ActivePage("Index", "TranscriptSettings")">@Html.LcActionLink("Transcript Settings", "Index", "TranscriptSettings")</li>
            @*<li  class="@Html.ActivePage("SynchronizeMessages", "TranscriptSettings")">@Html.LcActionLink("Synchronize Messages", "SynchronizeMessages", "TranscriptSettings")</li>
            <li  class="@Html.ActivePage("MessageStatus", "TranscriptSettings")">@Html.LcActionLink("Confirm Message Status", "MessageStatus", "TranscriptSettings")</li>
            <li  class="@Html.ActivePage("RefreshInstitutions", "TranscriptSettings")">@Html.LcActionLink("Refresh Institutions", "RefreshInstitutions", "TranscriptSettings")</li>
            <li  class="@Html.ActivePage("SystemPreferences", "TranscriptSettings")">@Html.LcActionLink("Set System Preferences", "SystemPreferences", "TranscriptSettings")</li>
            <li  class="@Html.ActivePage("ContactInformation", "TranscriptSettings")">@Html.LcActionLink("Edit Contact Information", "ContactInformation", "TranscriptSettings")</li>
            <li  class="@Html.ActivePage("ConfigureEmail", "TranscriptSettings")">@Html.LcActionLink("Configure Email", "ConfigureEmail", "TranscriptSettings")</li>
            <li  class="@Html.ActivePage("DefaultStylesheets", "TranscriptSettings")">@Html.LcActionLink("Set Default Stylesheets", "DefaultStylesheets", "TranscriptSettings")</li>
            <li  class="@Html.ActivePage("EnabledFunctionality", "TranscriptSettings")">@Html.LcActionLink("Set Enabled Functionality", "EnabledFunctionality", "TranscriptSettings")</li>
            <li  class="@Html.ActivePage("NotificationSettings", "TranscriptSettings")">@Html.LcActionLink("Edit Notification Settings", "NotificationSettings", "TranscriptSettings")</li>
            <li  class="@Html.ActivePage("SecurityLog", "TranscriptSettings")">@Html.LcActionLink("View Security Log", "SecurityLog", "TranscriptSettings")</li>
            <li  class="@Html.ActivePage("OperationsLog", "TranscriptSettings")">@Html.LcActionLink("View Operations Log", "OperationsLog", "TranscriptSettings")</li>
            <li  class="@Html.ActivePage("ToolkitUsers", "TranscriptSettings")">@Html.LcActionLink("Manage Toolkit Users", "ToolkitUsers", "TranscriptSettings")</li>*@
        </ul>
    </div>
</div>