
<div class="navigation row">
    <div class="left-nav col-md-12">
        <ul>
            <li class="@Html.ActivePage("Index", "Settings")">@Html.LcActionLink("Settings Home", "Index", "Settings")</li>
            <li class="@Html.ActivePage("Index", "Users")">@Html.LcActionLink("Users Home", "Index", "Users")</li>
            <li class="@Html.ActivePage("User", "Users")">@Html.LcActionLink("Users View", "User", "Users")</li>
            <li class="@Html.ActivePage("UserAccessGroup", "Users")">@Html.LcActionLink("Users Access Groups", "UserAccessGroup", "Users")</li>
        </ul>
    </div>
</div>